.left {
  width: 164px;
  height: 100%;
  background: #2F3332;
  white-space: nowrap;
  transition: width 0.5s;
  position: fixed;
  margin-left: 3.1rem;
  z-index: 9999;
  color: white;

}
.left .item-menu {
  height: 48px;
  width: 48px;
  overflow: hidden;


}

.title{
text-align: center;
height: 48px;
padding: 9%;
border-bottom: 1px solid #d1d1d15e;

}

.row>* {
  padding-right: 0px;

  padding-left: 0px;
}
