<div mat-dialog-content>
  <div class="dialog-header" *ngIf="title">'titulo generico'</div>

  <div class="message">
    <p [innerHTML]="'message'"></p>
  </div>

  <div class="info" *ngIf="information !== ''">
    <p [innerHTML]="'information'"></p>
  </div>

  <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center">
    <div *ngIf="button == 0">
      <button mat-flat-button (click)="onOk()" tabindex="-1">OK</button>
    </div>
    <div *ngIf="button == 1">
      <button mat-button color="basic" (click)="onCancel()" tabindex="-1">
        CANCEL
      </button>
      <button mat-flat-button (click)="onOk()" tabindex="-1">OK</button>
    </div>
    <div *ngIf="button == 2">
      <button mat-button color="basic" (click)="onNo()" tabindex="-1">
        NO
      </button>
      <button mat-flat-button (click)="onYes()" tabindex="-1">YES</button>
    </div>
    <div *ngIf="button == 3">
      <button mat-button color="basic" (click)="onReject()" tabindex="-1">
        REJECT
      </button>
      <button mat-flat-button (click)="onAccept()" tabindex="-1">ACCEPT</button>
    </div>
  </div>
</div>
