@import "../theme/theme-variables";


.content-login-page {
    display: flex;
    overflow: hidden;
    
    .content-page {
        height: 100vh;
        position: relative;
        width: 40%;
        background: $body-background-color;

        @media #{$tablet-v} {
            width: 100%;
        }

        @media #{$mobile} {
            display: block !important;
            padding: 20px;
        }

        .content-wrapper {
            position: absolute;
            top: 20rem; 
            left: 30%;
        }

        .content-wrapper {
            @media #{$mobile} {
                position: relative;
                display: block !important;
            }
        }

        .languages {
            position: absolute;
            right: 35px;
            top: 40px;
            color: $dark;

            @media #{$mobile} {
                right: 5px;
                top: 10px;
            }
        }

        // login, registro, reuperar contraseña, cambiar contraseña.
        .content-login,
        .content-register,
        .content-recover-password,
        .content-reset-password,
        .content-code,
        .content-resend-code {
            max-width: 350px;
            margin: 0 auto;

            .title {
                padding-bottom: 8px;
                color: $secondary;
                font-size: 2rem;
                font-weight: 300;
                line-height: 38px;
                text-align: center;
            }

            .description {
                color: $dark;
                // font-size: 14px;
                line-height: 18px;
                padding-bottom: 25px;
                text-align: center;
            }

            input.text-input {
                border-radius: 4px;
                margin-bottom: 5px;
                padding-left: 20px !important;
            }

            .position-checkbox {
                padding-top: 22px;
                text-align: left;
                label {
                    margin-left: 20px;
                }
            }

            .position-button {
                text-align: left;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .line {
                border-top: 1px solid #D1D1D1;
                margin-top: 12px;
                margin-bottom: 12px;
                height: 1px;
            }
        }

    }

    .content-hand {
        position: relative;
        width: 60%;
        background: #000000;

        @media #{$mobile} {
            width: 0%;
            display: none;
        }
    }

}