<div class="content-login-page">
  <!-- PANTALLA DE LA IZQUIERDA ·······················  -->

  <div class="content-page">
    <div class="logo-wrapper">
      <img
        class="logo"
        src="https://s3.eu-central-1.amazonaws.com/assets.33bot.io/logo.svg"
      />

      <div class="languages"></div>
    </div>

    <div class="content-wrapper">
      <!-- REGISTRO ·······································  -->
      <div
        class="content-recover-password"
        *ngIf="activePage == 'recover-password'"
      >
        <div class="title">
          {{ "login_page.recover_password.title" }}
        </div>
        <div class="description">
          {{ "login_page.recover_password.description" }}
        </div>

        <!-- inputs -->
        <!-- EMAIL -->
        <div class="inputs">
          <div class="validate-item">
            <input
              type="text"
              class="text-input"
              [placeholder]="'login_page.recover_password.placeholder.email'"
              formControlName="email"
            />
          </div>

          <!-- botón de enviar -->
          <div class="padded-vertical-md">
            <button
              mat-flat-button
              color="primary"
              app-ga
              ga-category="login"
              ga-action="recover-password"
              class="uppercase"
            >
              {{ "login_page.recover_password.button_send" }}
            </button>
          </div>

          <div class="line"></div>

          <!-- ir al registro -->
          <div>
            <p>
              <a
                routerLink="/login/login"
                app-ga
                ga-category="login"
                ga-action="go-login"
                >{{ "login_page.recover_password.remember_password" }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PANTALLA DE LA DERECHA ·······················  -->
  <div class="content-hand">
    <canvas id="canvas"></canvas>
    <!--figure></figure-->
    <div class="container-text">
      <div
        class="first-text"
        [innerHTML]="'loginComponent.login_page.right_page.title'"
      ></div>
      <div
        class="second-text"
        [innerHTML]="'loginComponent.login_page.right_page.description'"
      ></div>
    </div>
  </div>
</div>
