<div class="card-pause card text-center" @enterState style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">
      <i class="message_pause">{{'menu_nav.state_drop_down.information' | translate}}</i>
      <select class="form-select" required>
        <option value="" disabled selected>{{'menu_nav.state_drop_down.message_select' | translate}}</option>
        <option></option>

      </select>
    </p>
    <a href="#" class="btn custom-btn-primary btn-primary">{{'menu_nav.state_drop_down.button_acept' | translate}}</a>
  </div>
</div>


