@import "../../../theme/theme-variables.scss";

.logo-wrapper {
    @media #{$mobile} {
        position: relative;
        display: block !important;
    }
}

.logo-wrapper {
    @media #{$mobile} {
        height: 100px;
        max-height: 100px !important;
        width: 100%;
    }
}

.logo {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 120px;

    @media #{$mobile} {
        top: 5px;
        left: 5px;
        width: 120px;
    }
}