<div class="content-login-page">
  <!-- PANTALLA DE LA IZQUIERDA ·······················  -->

  <div class="content-page">
    <app-logo></app-logo>

    <div class="languages">
      <app-language-selector></app-language-selector>
    </div>

    <div class="content-wrapper">
      <!-- REGISTRO ·······································  -->
      <div class="content-register">
        <div class="title">
          {{ "loginComponent.register.title" | translate }}
        </div>
        <div class="description">
          {{ "loginComponent.register.description" | translate }}
        </div>

        <!-- inputs -->
        <div class="inputs" [formGroup]="register_form">
          <div class="validate-item">
            <input
              type="text"
              class="text-input"
              [placeholder]="
                'loginComponent.register.placeholder.name' | translate
              "
              formControlName="user_name"
            />
          </div>

          <!-- EMAIL -->
          <div class="validate-item">
            <input
              type="text"
              class="text-input"
              [placeholder]="
                'loginComponent.register.placeholder.email' | translate
              "
              formControlName="email"
            />
          </div>

          <div>
            <!-- <div formGroupName="matching_passwords_register"> -->
            <!-- CONTRASEÑA -->
            <div class="validate-item">
              <input
                type="password"
                class="text-input"
                [placeholder]="
                  'loginComponent.register.placeholder.password' | translate
                "
              />
            </div>

            <!-- CONFIRMAR CONTRASEÑA -->
            <div class="validate-item">
              <input
                type="password"
                class="text-input"
                [placeholder]="
                  'loginComponent.register.placeholder.confirm_password'
                    | translate
                "
              />
            </div>
          </div>

          <div class="margin-top-sm">
            <p>re captcha</p>
          </div>
        </div>

        <!-- Términos y Condiciones -->
        <div class="position-checkbox">
          <input type="checkbox" name="terminos y condiciones" id="" />
          <label for="activeSesion">
            {{ "loginComponent.register.accept_legal" | translate }}
          </label>
        </div>

        <!-- Botón de Registro -->
        <div class="padded-vertical-md">
          <button mat-flat-button class="uppercase" color="primary">
            {{ "loginComponent.register.button_access" | translate }}
          </button>
        </div>

        <div class="line"></div>

        <div class="text-bottom">
          <p>
            {{ "loginComponent.register.have_account" | translate }}
            <a
              routerLink="/login"
              app-ga
              ga-category="login"
              ga-action="go-login"
            >
              {{ "loginComponent.register.go_login" | translate }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- PANTALLA DE LA DERECHA ·······················  -->
  <div class="content-hand">
    <app-auth-right-panel
      [title]="'loginComponent.register.title' | translate"
      [description]="'loginComponent.register.description' | translate"
    ></app-auth-right-panel>
  </div>
</div>
