<div class="content-login-page">
  <!-- PANTALLA DE LA IZQUIERDA ·······················  -->

  <div class="content-page">
    <app-logo></app-logo>

    <div class="languages">
      <app-language-selector></app-language-selector>
    </div>

    <div class="content-wrapper">
      <!-- REGISTRO ·······································  -->
      <div class="content-recover-password">
        <div class="title">
          {{ "loginComponent.recover_password.title" | translate }}
        </div>
        <div class="description">
          {{ "loginComponent.recover_password.description" | translate }}
        </div>

        <!-- inputs -->
        <!-- EMAIL -->
        <div class="inputs" [formGroup]="recovery_form">
          <div class="validate-item">
            <input
              type="text"
              class="text-input"
              [placeholder]="
                'loginComponent.recover_password.placeholder.email' | translate
              "
              formControlName="email"
            />
          </div>

          <!-- botón de enviar -->
          <div class="padded-vertical-md">
            <button
              mat-flat-button
              color="primary"
              app-ga
              ga-category="login"
              ga-action="recover-password"
              class="uppercase"
            >
              {{ "loginComponent.recover_password.button_send" | translate }}
            </button>
          </div>

          <div class="line"></div>

          <!-- ir al registro -->
          <div>
            <p>
              <a
                routerLink="/login"
                app-ga
                ga-category="login"
                ga-action="go-login"
                >{{
                  "loginComponent.recover_password.remember_password"
                    | translate
                }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PANTALLA DE LA DERECHA ·······················  -->
  <div class="content-hand">
    <app-auth-right-panel
      [title]="'loginComponent.recover_password.title' | translate"
      [description]="'loginComponent.recover_password.description' | translate"
    ></app-auth-right-panel>
  </div>
</div>
