@import "../../../../theme/theme-variables";

app-svg {
  line-height: 0 !important;
  font-size: 0 !important;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  svg-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    font-size: 0 !important;
    line-height: 0 !important;

    svg {
      width: 100% !important;
    }

    &.color-primary {

      &.stroke {

        * {
          stroke: $primary !important;
        }
      }

      &.fill {

        * {
          fill: $primary !important;
        }
      }
    }
    &.color-secondary {
      &.stroke {
        * {
          stroke: $secondary !important;
        }
      }
      &.fill {
        * {
          fill: $secondary !important;
        }
      }
    }
    &.color-black {
      &.stroke {
        * {
          stroke: $black !important;
        }
      }
      &.fill {
        * {
          fill: $black !important;
        }
      }
    }
    &.color-dark {
      &.stroke {
        * {
          stroke: $dark !important;
        }
      }
      &.fill {
        * {
          fill: $dark !important;
        }
      }
    }
    &.color-grey {
      &.stroke {
        * {
          stroke: $color-grey !important;
        }
      }
      &.fill {
        * {
          fill: $color-grey !important;
        }
      }
    }
    &.color-white {
      &.stroke {
        * {
          stroke: $color-white !important;
        }
      }
      &.fill {
        * {
          fill: $color-white !important;
        }
      }
    }
    &.color-blue {
      &.stroke {
        * {
          stroke: map_get($colors, blue) !important;
        }
      }
      &.fill {
        * {
          fill: map_get($colors, blue) !important;
        }
      }
    }
    &.color-nodejs {
      &.stroke {
        * {
          stroke: map_get($colors, nodejs) !important;
        }
      }
      &.fill {
        * {
          fill: map_get($colors, nodejs) !important;
        }
      }
    }
    &.color-green {
      &.stroke {
        * {
          stroke: map_get($colors, green) !important;
        }
      }
      &.fill {
        * {
          fill: map_get($colors, green) !important;
        }
      }
    }
  }

  &.bg-color-primary {
    background-color: $primary;
  }

  &.bg-color-secondary {
    background-color: $secondary;
  }

  &.bg-color-dark {
    background-color: $dark;
  }

  &.bg-color-white {
    background-color: #fff;
  }

  &:hover {

    &.has-color, &:not(.has-color) {

      &.hover-bg-color-primary {
        background-color: $primary;
      }
      &.hover-color-primary {
        svg-icon {
          &.stroke {
            * {
              stroke: $primary !important;
            }
          }
          &.fill {
            * {
              fill: $primary !important;
            }
          }
        }
      }

      &.hover-bg-color-secondary {
        background-color: $secondary;
      }
      &.hover-color-secondary {
        svg-icon {
          &.stroke {
            * {
              stroke: $secondary !important;
            }
          }
          &.fill {
            * {
              fill: $secondary !important;
            }
          }
        }
      }

      &.hover-bg-color-dark {
        background-color: $dark;
      }
      &.hover-color-dark {
        svg-icon {
          &.stroke {
            * {
              stroke: $dark !important;
            }
          }
          &.fill {
            * {
              fill: $dark !important;
            }
          }
        }
      }

      &.hover-bg-color-grey {
        background-color: $color-grey;
      }
      &.hover-color-grey {
        svg-icon {
          &.stroke {
            * {
              stroke: $color-grey !important;
            }
          }
          &.fill {
            * {
              fill: $color-grey !important;
            }
          }
        }
      }

      &.hover-bg-color-white {
        background-color: $color-white;
      }
      &.hover-color-white {
        svg-icon {
          &.stroke {
            * {
              stroke: $color-white !important;
            }
          }
          &.fill {
            * {
              fill: $color-white !important;
            }
          }
        }
      }

      &.hover-bg-color-blue {
        background-color: map_get($colors, blue);
      }
      &.hover-color-blue {
        svg-icon {
          &.stroke {
            * {
              stroke: map_get($colors, blue) !important;
            }
          }
          &.fill {
            * {
              fill: map_get($colors, blue) !important;
            }
          }
        }
      }

      &.hover-bg-color-nodejs {
        background-color: map_get($colors, nodejs);
      }
      &.hover-color-nodejs {
        svg-icon {
          &.stroke {
            * {
              stroke: map_get($colors, nodejs) !important;
            }
          }
          &.fill {
            * {
              fill: map_get($colors, nodejs) !important;
            }
          }
        }
      }

    }

  }

}

