.left {
  width: 48px;
  height: 100%;
  background: #2f2f2f;
  white-space: nowrap;
  transition: width 0.5s;
  position: fixed;
  z-index: 9999;


}

.left ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.left li:hover {
  background: #464C4B;
}

.left .item-menu {
  height: 48px;
  width: 48px;
  overflow: hidden;
}

.selected {
  background: #b8b2b2af;
}

.row>* {
  padding-left: 0px;
}

.icon:hover {
  background: #464C4B;
  fill: #E63F23;

}
