/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

// body{
//   margin: 0px;
//   font-family: 'Mulish';
// }

/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "./app/theme/theme-variables.scss";

// Theme customization
@import "./app/theme/theme";

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
  font-family: 'Mulish';

}


.custom-btn-primary{
  background: #E63F23;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-family: 'mulish'
}

.custom-btn-primary:hover{
  background-color:#CC371E;;
}



