:host{
  width: 10%;
}

.icon-lenguage{
  width: 25%;
}
// .section-lenguage{
//   position: absolute;
// }
img.icon-lenguage {
  /* width: auto; */
  position: absolute;
}

label.input-group-text {
  width: 42%;
}

.input-group.mb-3.section-lenguage {
  width: 124%;
}
